<?xml version="1.0" encoding="GBK"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.xtext.org/example/rml/IRML"
			class = "org.xtext.example.rml.iRML.IRMLPackage"
			genModel = "model/generated/IRML.genmodel" />
	</extension>
</plugin>
